.login_box
{
    margin: auto;
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;

    opacity: .97;
    background-color: white;
    /* background-color: green; */
    border-radius: 50px;
}

.login_heading
{
    margin-top: 50px;
}
.login_input
{
    /* margin-top: 10px; */
    margin-top: 10px;
    width: 250px;
    padding: 10px;
}

.login_error
{
    color: red;
}

.login_button
{
    margin-top: 10px;
    padding: 10px;
    padding-left:120px ;
    padding-right:120px ;
    /* color: aqua; */
    background-color: rgb(24, 42, 207);
    /* border: none; */
    border-width: 0px;
    border-radius: 5px;

}

.login_button:hover
{
    background-color: darkblue;
}

.login_reg_button
{
    color: blue;
    cursor: pointer;
}

.login_reg_button:hover
{
    text-decoration: underline;
}

/* .login 
{
    
    width: 50px;
} */