.login_box
{
    margin: auto;
    width: 600px;
    height: 400px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;

    background: transparent;
    background-color: white;
    border-radius: 50px;
}

.login_heading
{
    margin-top: 50px;
}
.login_input
{
    margin-top: 10px;
    padding: 10px;
}

.login_error
{
    color: red;
}

.login_button
{
    margin-top: 10px;
    padding: 10px;
}

.login_reg_button
{
    color: blue;
    cursor: pointer;
}

.login_reg_button:hover
{
    text-decoration: underline;
}