.post_box
{
    /* background: black; */
    margin: auto;
    width: 600px;
    height: 500px;
    padding: 10px;
    margin-top: 50px;
    overflow-y: scroll;

    /* background: transparent; */
    opacity: .96;
    background-color: white;
    border-radius: 50px;
}

.post_box::-webkit-scrollbar
{
    overflow: hidden;
    /* margin: auto; */
}


.post_footer
{   
    text-align: center;
    width: 600px;
    height: 50px;
    /* background-color: black; */
    position: fixed;
    margin-top: 460px;
    
}

.post_create
{
    border-radius: 50px;
    /* position: fixed; */
    padding: 8px;
    cursor: pointer;
    margin-top: 10px;
    background-color: rgb(21, 21, 133);
}

.post_create:hover
{
    background-color: black;
}

.logout_button
{
    /* position: fixed; */
    margin-left: 240px;
    /* margin-top: -50px; */
    border-radius: 2px;
    padding: 7px;
    background-color: rgb(56, 6, 6);
}

.post_header
{
    text-align: center;
    position: fixed;
    /* background: transparent; */
    /* background-color: rgb(138, 123, 123); */
    width: 600px;
    /* height: 80px; */
    margin-top: -10px;
}

.post_div
{
    padding: 10px;
    margin-top: 15px;
    
}

.post_data
{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(44, 44, 44);
}

.post_data:hover
{
    background-color: white;
}

.about_button
{
    margin-left: 50px;
    border-radius: 50px;
    cursor: pointer;
}

.about_button:hover
{
    background-color: black;
}